@attribute [Authorize]
@inherits AuthComponentBase

<h3>Подключенные устройства</h3>

<div @onclick="ClearSelectedCard">
    <div id="deviceControlsWrapper" class="container-fluid">
        <div class="row">
            Группа устройств
        </div>

        <div class="row">
            <div class="col">
                <select class="form-control" @bind="_selectedGroupId">
                    <option value="@_deviceGroupAll">Показывать все устройства</option>
                    <option value="@_deviceGroupNone">Не привязанные к группам</option>
                    @foreach (var group in _deviceGroups)
                    {
                        <option @key="group.ID" value="@group.ID">@group.Name</option>
                    }
                </select>
            </div>

            <div>
                <button class="btn btn-sm btn-secondary center-connection-box" title="Разбудить устройства из списка" style="width: 40px; margin-left: 5px;" @onclick="WakeDevices">
                    <span class="oi oi-power-standby"></span>
                </button>
            </div>

        </div>

        <div class="row">
            Поиск
        </div>

        <div class="row">
            <div class="col">
                <input class="form-control d-inline"
                       placeholder="Введите подстроку для поиска..."
                       @bind="_filter" />
            </div>
        </div>

        <div class="row mt-2 ml-1">

            <div>
                <button class="btn btn-sm btn-secondary mr-2" @onclick="SelectAllCards">Выделить все</button>
            </div>

            <div>
                <button class="btn btn-sm btn-primary" @onclick="HandleRefreshClicked">Обновить список</button>
            </div>

            <div class="col align-self-lg-center">
                <div class="custom-control custom-checkbox mt-2">
                    <input id="hideOfflineDevicesCheckbox" type="checkbox" class="custom-control-input" @bind="_hideOfflineDevices" />
                    <label class="custom-control-label" for="hideOfflineDevicesCheckbox">Скрыть отключенные устройства</label>
                </div>
            </div>

            <div class="col">
                <button class="btn btn-sm btn-secondary" @onclick="PageDown">
                    <i class="oi oi-chevron-left"></i>
                </button>

                <span class="small">Страница</span>

                <input id="currentPageInput" style="width:75px; text-align: center" pattern="[0-9]" @bind="_currentPage" @bind:event="oninput" />

                <span class="small">из</span>

                <span>@TotalPages</span>

                <button class="btn btn-sm btn-secondary" @onclick="PageUp">
                    <i class="oi oi-chevron-right"></i>
                </button>

                <select class="form-control d-inline" style="width: 75px" @bind="_devicesPerPage">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                </select>

                <span class="ml-1 small">на странице</span>

            </div>
        </div>


    </div>

    <div id="deviceListDiv" class="p-2 mb-5">
        @foreach (var device in DisplayedDevices)
        {
            <CascadingValue Value="this">
                <DeviceCard @key="device.ID" Device="device" />
            </CascadingValue>
        }
    </div>

    <Terminal />
</div>