@inherits AuthComponentBase
@attribute [Authorize]

<div class="main-grid mt-3 auto-height">
    <div style="grid-column: span 3">
        <button class="btn btn-primary align-middle mr-4" @onclick="ExecuteScript">Запуск</button>

        <input type="checkbox" class="mr-1 align-middle" @bind="_runOnNextConnect" />
        <span class="align-middle">Если устройство off-line, то запустить соразу при появлении в сети</span>
    </div>

    <div class="column-wrapper h-100 pb-3">
        <div>
            <h5>Скрипты</h5>
            <div>
                <input type="checkbox" @bind="ParentPage.ShowOnlyMyScripts" />
                <span class="align-top">Только мои скрипты</span>
            </div>
        </div>
        <TreeView DataSource="ParentPage.TreeNodes"
                  ItemTypeSelector="x => x.ItemType"
                  ItemHeaderSelector="x => x.Name"
                  ItemSelected="ScriptSelected"
                  ChildItemSelector="x => x.ChildItems"
                  ItemIconCssSelector="ParentPage.GetItemIconCss"
                  KeySelector="x => x.Id"
                  WrapperStyle="border: 1px solid gray; padding: .5em; height: 100%; border-radius: 5px;"
                  T="ScriptTreeNode" />
    </div>
    <div class="column-wrapper h-100 pb-3">
        <h5>Грцппы устройств</h5>
        <div class="item-list-border h-100">
            @foreach (var deviceGroup in _deviceGroups)
            {
                <div @key="@deviceGroup.ID">
                    <input class="mr-1" type="checkbox"
                       checked="@(_selectedDeviceGroups.Contains(deviceGroup.ID))"
                       @onchange="ev => DeviceGroupSelectedChanged(ev, deviceGroup)" />

                    <span class="align-top">@deviceGroup.Name</span>
                </div>
            }
        </div>
    </div>

    <div class="column-wrapper h-100 pb-3">
        <h5>Устройства</h5>
        <div class="item-list-border h-100">
            @foreach (var device in _devices)
            {
                <div @key="@device.ID">
                    <input class="mr-1" type="checkbox"
                       checked="@(_selectedDeviceGroups.Contains(device.ID))"
                       @onchange="ev => DeviceSelectedChanged(ev, device)" />

                    @if (@device.Alias == string.Empty || @device.Alias == null)
                    {
                        <span class="align-top">@device.DeviceName</span>
                    }
                    else
                    {
                        <span class="align-top">@device.Alias</span>
                    }

                </div>
            }
        </div>
    </div>
</div>